@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* Sheared Styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 7rem;
}
.display-flex {
  display: flex;
}
.primary-btn {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  background: rgb(255, 144, 14);
  /* width: 180px; */
  /* height: 64px; */
  border: none;
  padding: 20px 25px;
}
.section-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
}
/* Color dark2 */
.text-gray {
  color: rgb(66, 66, 66);
}
/* Dark3 */
.text-light {
  color: rgb(114, 114, 114);
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* Header Styles */
.header {
  padding-bottom: 3rem;
}
/* Nav Styles */
.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.brand {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.nav-item {
  list-style: none;
  color: rgb(66, 66, 66);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.nav-links {
  gap: 2rem;
}
.nav-link {
  text-decoration: none;
}
.banner,
.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
}
/* Banner section */
.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.1rem;
}
.banner-title {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 2rem 0;
}
.banner-img {
  width: 100%;
}
/* Teams Container styles */
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-img-container img {
  width: 100%;
}
.our-features {
  max-width: 537px;
  margin: auto auto;
}
#quick-list {
  font-weight: 400;
  margin-bottom: 3rem;
}
.future-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
}
.future-description {
  margin: 24px 0 32px;
}

.future {
  color: rgb(255, 144, 14);
}
/* Future Love section styles */
.feature-love {
  gap: 54px;
}
.love-containers {
  width: 586px;
  padding-top: 39px;
}
.love-containers h2 {
  border-left: 5px solid rgb(255, 144, 14);
  padding: 0 1.5rem;
}
.margin {
  margin: 24px 0 30px 0;
}
.love-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  height: 171px;
  padding: 0 25px;
  margin-bottom: 20px;
}
/* .love-image {
  border: 3px solid rebeccapurple;
} */
.containers-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#ex-btn {
  padding: 2.8rem;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: rgb(255, 144, 14);
  border: none;
  margin-top: -7rem;
}

#ex {
  font-size: 1.5rem;
}
#year {
  font-weight: 700;
  font-size: 4rem;
}
.love-image {
  width: 60%;
}
.love-container-image {
  float: right;
}
/* Fact Styles */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5.5rem 1.5rem 0;
}
.fact-container {
  border: 2px solid rgb(255, 144, 14);
  border-radius: 8px;
  height: 241px;
  width: 241px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.some-f {
  margin-bottom: 1.5rem;
}

/* Our sponsor */
.sponsor-description-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 542px;
  height: 129px;
}
.sponsor-description-container > h2 {
  margin-bottom: 1.5rem;
}
.sponsor-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 4.4rem;
}
.sponsor-images img {
  filter: grayscale(1);
}
/* Responsive Media Query */
@media screen and (max-width: 576px) {
  main > section {
    margin-top: 10px;
  }
  .nav-bar {
    flex-direction: column;
    gap: 30px;
  }
  .teams {
    flex-direction: column;
    gap: 30px;
    width: 95%;
    padding: 0 10px;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-img-container img {
    width: 100%;
  }
  .facts-container {
    grid-template-columns: auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
  }
  .sponsor-images {
    grid-template-columns: auto;
    padding-top: 2rem;
    justify-content: center;
    gap: 2rem;
  }
  .sponsor-description-container {
    width: 100%;
  }
  .feature-love {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }
  .love-container {
    width: 92%;
    height: auto;
  }
  .love-container-image {
    width: 100%;
  }
  .love-containers {
    width: 78%;
  }
}

/* Responsive For Medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
    gap: 30px;
    padding: 2rem;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-img-container img {
    width: 100%;
  }
  .facts-container {
    grid-template-columns: repeat(2, 0.3fr);
    padding: 3rem;
    gap: 2rem;
    justify-content: center;
  }
  .some-facts h3,
  .some-facts > p {
    text-align: center;
  }
  .sponsor-images {
    grid-template-columns: repeat(2, 0.3fr);
    padding-top: 3rem;
    justify-content: center;
    gap: 2.5rem;
  }
  .sponsor-description-container {
    width: 100%;
  }
  .feature-love {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }
  .love-container {
    width: 95%;
    height: auto;
  }
  .love-container-image {
    width: 100%;
  }
  .love-containers {
    width: 95%;
  }
}
